.env
node_modules

# DB
packages/db/generated/prisma
packages/db/generated/
packages/db/.agents/
packages/db/.claude/
packages/db/.windsurf/

# Web
dist
dist-ssr
*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
*.swp
*.swo
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*